<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TP6_VAZQUEZ</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TP6_VAZQUEZ.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <a href='@Url.Action("index")'><img src="imagenes/bandera.png"></a>
            <a href='@Url.Action("index")' class="btn btn-primary">ELECCIONES 2023</a>
            <a href='@Url.Action("creditos")' class="btn btn-success">CRÉDITOS</a>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
